<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
	<title>callback授权结果</title>
	<script type="text/javascript" src="/common/js/socket.io.js"></script>
	<style type="text/css">
		body { font-size: 30px; word-break: break-word; }
	</style>
</head>
<body>
	<div id="JS_params">
		
	</div>
	<script type="text/javascript">
		function getParam(name) {
		    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
		        results = regex.exec(location.search);
		    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}
		window.onload = function(){
			var ws = io.connect(window.location.origin);
			var result = 'unionid: '+getParam("unionid")+
					'<br/>name: '+getParam("name")+
					'<br/>msg: '+getParam("msg")+
					'<br/>url: '+window.location.href + "<hr>";
			document.querySelector("#JS_params").innerHTML = result;
			ws.emit("callback-result", {
				unionid: getParam("unionid"),
				name: getParam("name"),
				msg: getParam("msg"),
				url: window.location.href
			});
		}
		
	</script>
</body>
</html>