<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题</title>
    <style type="text/css">
    input {
        display: block;
        width: 100%;
        line-height: 30px;
        margin: 10px 0 0 0;
        text-indent: 5px;
    }
    
    button {
        display: block;
        width: 100%;
        line-height: 30px;
        margin: 10px 0 0 0;
    }
    
    textarea {
    	width: 100%;
    	display: block;
        margin: 10px 0;
        padding: 10px;
        height: 100px;
        border: 1px solid #eee;
        word-break: break-word;
    }
    
    #JS_url_1,
    #JS_url_2 {
        
    }
    </style>
</head>

<body>
    活动地址：
    <input type="text" id="JS_fe" placeholder="最终跳转到前端的地址" value="http://huodong.office.bzdev.net/restful/doc.php" />
    <br/>
    后端callback授权地址：<input type="text" id="JS_be" placeholder="后台中转callback地址" value="http://huodong.office.bzdev.net/restful/lotterywechat/callback.json?service_appid=wx06297e68f1f987bd&redirect_uri=" />
    <button type="button" value="狠狠点击我来编码" id="JS_btn">狠狠点击我来编码</button>
    <textarea id="JS_url_1"></textarea>
    <textarea id="JS_url_2"></textarea>
    <textarea id="JS_url_3"></textarea>
    <section id="JS_canvas"></section>
    <div id="JS_params">
        
    </div>
    <script type="text/javascript" src="/common/js/seajs.min.js"></script>
    <script type="text/javascript" src="/common/js/socket.io.js"></script>
    <script type="text/javascript">
    document.getElementById("JS_fe").value = window.location.origin + "/activity.html?type=helloworld";
    function $$(id) {
        return document.getElementById(id);
    }

    window.onload = function(){
        var ws = io.connect(window.location.origin);
        ws.on("callback-result", function(data){
            var result = '<br/>model: '+data.ua.model+'<br/>unionid: '+data.unionid+'<br/>name: '+data.name+'<br/>msg: '+data.msg + '<br/>url: '+data.url;
            document.querySelector("#JS_params").innerHTML = document.querySelector("#JS_params").innerHTML+result+"<hr>";
        });
        seajs.use("arale-qrcode/1.1.0/index", function(qrcode) {
            $$("JS_btn").addEventListener("click", function() {
                _hmt.push(['_trackEvent', 'assist', 'assist-生成微信二维码', '', 1]);
                $$("JS_url_1").value = $$("JS_be").value + encodeURIComponent($$("JS_fe").value);
                $$("JS_url_2").value = "http://source.bozhong.com/wechat/redirect.html?redirect_uri=" + encodeURIComponent($$("JS_url_1").value);
                $$("JS_url_3").value = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx06297e68f1f987bd&redirect_uri=" + encodeURIComponent($$("JS_url_2").value) + "&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect";

                $.ajax({
                    url: "/shorturl.json",
                    data: {
                        url: $$("JS_url_3").value
                    },
                    success: function(data){
                        console.log(data);
                        if( !!data && data.code == 200 ){
                            console.log( window.location.origin + data.data );
                            var qr = new qrcode({
                                text: window.location.origin + data.data,
                                width: 240,
                                height: 240
                            });
                            //document.body.appendChild(qr);
                            $("#JS_canvas").html(qr);
                        }
                    },
                    error: function(data){
                        console.log(data);
                    }
                })
                

            }, false)
        });
    }
    
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?6a1163b7a0265070fbd7f1258b07c101";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

</body>

</html>
