<!DOCTYPE html>
<html>
<head>
	<meta charset=UTF-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>test homepage</title>
	<style type="text/css">
		body { font-family: "Microsoft Simsun"; }
		* { margin: 0; padding: 0; }
		a { display: block; height: 40px; line-height: 40px; background-color: rgba(45, 169, 65, 0.7); color: #fff; text-decoration: none; text-align: center; border-top: 1px solid rgba(38, 165, 63, 0.45); }
		a:hover { opacity: 0.9; filter: alpha(opacity=80); }
		.qrcode-item { width: 200px; }
		.qrcode-item > canvas { margin: 0 auto; padding: 10px; }
		.qrcode-title { width: 100%; display: block; text-align: center; }
	</style>
</head>
<body>
	<a target="_blank" href="/get-wechat-code-message.html">pc接收code</a>
	<a target="_blank" href="/get-wechat-code.html">微信授权获取code</a>
	<a target="_blank" href="/logger.html?ip=">在线日志</a>
	<div class="qrcode-item" id="JS_canvas">
		<span class="qrcode-title">获得微信授权code</span>
	</div>
	<script type="text/javascript" src="/common/js/logger.js"></script>
	<script type="text/javascript" src="/common/js/seajs.min.js"></script>
	<script>
		log(window.location.href);
		seajs.use("/common/js/homepage.js");
	</script>
	oMtuSuPR800N-AXWdjMmXmlLHY0Y clary

oMtuSuE9QRX-w1zGjquNdYJoDSgE 播喀
</body>
</html>